
header {
  background: url("../images/big_banner_1.png") no-repeat;
  background-size: cover;
  background-position: top right;
  height: 755px;
  width: 100%;
}
header .header-top {
  height: 95px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-top .logo {
  flex: 1;
}
header .header-top .nav {
  margin-right: 71px;
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
header .header-top .nav li {
  color: white;
}
header .header-top .nav li:not(:nth-child(3)) {
  margin-right: 28px;
}
header .header-top .login-and-cart {
  display: flex;
}
header .header-top .login-and-cart .login svg {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  padding: 10px 10px;
}
header .header-top .login-and-cart .cart svg {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  padding: 10px 10px;
  margin-left: 22px;
}
header .big-banner {
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
}
header .big-banner .big-banner__content {
  width: 533px;
}
header .big-banner .big-banner__content .title {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  color: white;
}
header .big-banner .big-banner__content .description {
  margin-top: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}
header .big-banner .big-banner__content button {
  width: 274px;
  height: 64px;
  border: 4px solid #FFFFFF;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  margin-top: 49px;
}
header .big-banner__img {
  width: 607px;
  height: 530px;
}
header .big-banner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .slider-top {
  border-bottom: 5px solid #F73D27;
  height: 168px;
  padding: 33px 56px 16px 56px;
  position: relative;
}
.content .slider-top__tag {
  background-color: #FFC71F;
  color: white;
  box-shadow: 2px 4px 12px rgba(255, 199, 31, 0.25);
  border-radius: 22px;
  width: 175px;
  height: 49px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.content .slider-top .list-slider {
  display: flex;
  justify-content: space-between;
}
.content .slider-top .list-slider .item {
  flex: 0 0 133px;
  height: 119px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .slider-top .list-slider .item__img {
  width: 100%;
  height: 100px;
  text-align: center;
}
.content .slider-top .list-slider .item__img img {
  height: 100%;
  width: auto;
}
.content .slider-top .list-slider .item__title {
  width: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  margin-top: auto;
  color: #000000;
  box-sizing: content-box;
}
.content .slider-top .list-slider .item:hover .item__title {
  border-bottom: 3px solid #F73D27;
  padding-bottom: 5px;
}
.content .products {
  background: rgba(251, 239, 229, 0.2) url(../images/banner2_new.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 666px;
  padding-top: 108px;
}
.content .products .sub-products .item {
  padding: 13px 13px 22px 13px;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  max-height: 189px;
  background-color: white;
  box-shadow: 7px 10px 24px rgba(255, 199, 31, 0.22);
  border-radius: 12px;
}
.content .products .sub-products .item__main {
  max-width: 128px;
}
.content .products .sub-products .item__main .title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}
.content .products .sub-products .item__main .name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
  color: #868686;
}
.content .products .sub-products .item__main .price {
  width: 125px;
  height: 36px;
  background: #F73D27;
  border-radius: 18px;
  margin-top: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.content .products .sub-products .item__img {
  max-width: 100%;
  height: 100%;
  flex: 1;
  text-align: center;
}
.content .products .sub-products .item__img img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.content .products .sub-products .item.item--red {
  background-color: #F73D27;
}
.content .products .sub-products .item.item--red .item__main .title {
  color: white;
}
.content .products .sub-products .item.item--red .item__main .name {
  color: white;
}
.content .products .sub-products .item.item--red .item__main .price {
  background-color: #FFC71F;
  color: #000000;
}
.content .products .main-products {
  margin-top: 46px;
}
.content .products .main-products .item {
  display: flex;
  padding: 0px 0px 0px 28px;
  display: flex;
  max-width: 100%;
  height: 259px;
  max-height: 259px;
  background-color: white;
  box-shadow: 7px 10px 24px rgba(255, 112, 31, 0.22);
  border-radius: 12px;
}
.content .products .main-products .item__main {
  max-width: 259px;
}
.content .products .main-products .item__main .title {
  margin-top: 38px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}
.content .products .main-products .item__main .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
  /* identical to box height */
  color: #868686;
}
.content .products .main-products .item__main .price {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-top: 5px;
  color: #F73D27;
  position: relative;
}
.content .products .main-products .item__main .price span:nth-child(1) {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.content .products .main-products .item__main .price span:nth-child(2) {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  position: absolute;
  transform: rotate(-11.6deg);
  top: 69%;
  left: 110%;
}
.content .products .main-products .item__img {
  flex: 1;
  max-width: 100%;
  flex: 1;
  text-align: center;
  position: relative;
}
.content .products .main-products .item__img img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}
.content .banner-middle {
  width: 100%;
  background-color: #FFC71F;
}
.content .banner-middle .banner-middle__main {
  display: flex;
  height: 325px;
  padding-top: 43px;
  flex-wrap: wrap;
}
.content .banner-middle .banner-middle__main .banner-middle__img {
  height: 100%;
  position: relative;
  min-width: 465px;
}
.content .banner-middle .banner-middle__main .banner-middle__img .big_img img {
  position: absolute;
  left: 0;
  top: -30%;
}
.content .banner-middle .banner-middle__main .banner-middle__img .small_img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.content .banner-middle .banner-middle__main .banner__content {
  width: 485px;
  margin-left: 12px;
}
.content .banner-middle .banner-middle__main .banner__content .description {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: capitalize;
  color: white;
}
.content .banner-middle .banner-middle__main .banner__content .store {
  margin-top: 42px;
  display: flex;
}
.content .banner-middle .banner-middle__main .banner__content .store .chplay-img {
  width: 135px;
  height: 40px;
}
.content .banner-middle .banner-middle__main .banner__content .store .chplay-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .banner-middle .banner-middle__main .banner__content .store .app-store-img {
  width: 135px;
  height: 40px;
  margin-left: 40px;
}
.content .banner-middle .banner-middle__main .banner__content .store .app-store-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .real-stories {
  background: url("../images/background_2.png");
  height: 837px;
  width: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 32px;
  padding: 120px 0px 0px 124px;
}
.content .real-stories .real-stories__main {
  height: 683px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: column;
}
.content .real-stories .real-stories__main .item:nth-child(2) {
  align-self: flex-end;
}
.content .real-stories .real-stories__main .real-stories__title {
  width: 445px;
}
.content .real-stories .real-stories__main .real-stories__title span {
  color: #18191F;
  display: block;
}
.content .real-stories .real-stories__main .real-stories__title span:nth-child(1) {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
.content .real-stories .real-stories__main .real-stories__title span:nth-child(2) {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.content .real-stories .real-stories__main .box {
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background-color: white;
  padding: 32px;
}
.content .real-stories .real-stories__main .box .box__title {
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
  position: relative;
}
.content .real-stories .real-stories__main .box .box__title::after {
  position: absolute;
  content: "''";
  font-size: 35px;
  color: #2EC5CE;
  top: 0;
  left: -20px;
}
.content .real-stories .real-stories__main .box .box__author {
  margin-top: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.content .real-stories .real-stories__main .box .box__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969BAB;
}
.content .real-stories .real-stories__main .box-1 {
  width: 445px;
}
.content .real-stories .real-stories__main .box-2 {
  width: 350px;
}
.content .real-stories .real-stories__main .box-3 {
  width: 350px;
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 100%;
    height: 100%;
  }
  header {
    max-width: 100%;
    background-position: 72% -65%;
  }
  header .header-top {
    justify-content: center;
    position: relative;
  }
  header .header-top .logo {
    flex: unset;
  }
  header .header-top .login-and-cart {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
  }
  header .header-top .login-and-cart .login svg {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    padding: 10px 10px;
  }
  header .header-top .login-and-cart .cart svg {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 10px 10px;
    margin-left: 10px;
  }
  header .big-banner {
    margin-top: 46px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  header .big-banner .big-banner__content {
    width: 100%;
    padding: 0px 8px;
  }
  header .big-banner .big-banner__content .title {
    font-style: normal;
    font-weight: 800;
    font-size: 24;
    font-size: 22px;
    width: 100%;
    line-height: 31px;
    color: white;
    text-align: center;
  }
  header .big-banner .big-banner__content .description {
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  header .big-banner .big-banner__content button {
    width: 184px;
    height: 44px;
    border: 2px solid #FFFFFF;
    margin-top: 10px;
  }
  header .big-banner__img {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .content .slider-top {
    border-bottom: 5px solid #F73D27;
    height: auto;
    padding: 10px 10px;
    position: relative;
  }
  .content .slider-top__tag {
    width: 125px;
    height: 29px;
  }
  .content .slider-top .list-slider {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .content .slider-top .list-slider .item {
    flex: 0 0 45%;
    height: 119px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content .products {
    height: auto;
    padding-top: 10px;
  }
  .content .products .sub-products .row {
    justify-content: center;
  }
  .content .products .sub-products .row .col {
    margin-top: 20px;
  }
  .content .products .sub-products .item {
    padding: 8px;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    max-height: 189px;
    border-radius: 12px;
  }
  .content .products .sub-products .item__main {
    max-width: 128px;
  }
  .content .products .sub-products .item__main .title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
  }
  .content .products .sub-products .item__main .name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    color: #868686;
  }
  .content .products .sub-products .item__main .price {
    width: 125px;
    height: 36px;
    background: #F73D27;
    border-radius: 18px;
    margin-top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: white;
  }
  .content .products .sub-products .item__img {
    max-width: 100%;
    height: 100%;
    flex: 1;
    text-align: center;
  }
  .content .products .sub-products .item__img img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
  .content .products .sub-products .item.item--red {
    background-color: #F73D27;
  }
  .content .products .sub-products .item.item--red .item__main .title {
    color: white;
  }
  .content .products .sub-products .item.item--red .item__main .name {
    color: white;
  }
  .content .products .sub-products .item.item--red .item__main .price {
    background-color: #FFC71F;
    color: #000000;
  }
  .content .products .main-products {
    margin-top: 44px;
  }
  .content .products .main-products .col {
    margin-bottom: 45px;
  }
  .content .products .main-products .item {
    padding: 10px;
    display: flex;
    max-width: 100%;
    height: 459px;
    max-height: 350px;
    background-color: white;
    border-radius: 12px;
    flex-direction: column-reverse;
    text-align: center;
    padding-bottom: 50px;
  }
  .content .products .main-products .item__main {
    max-width: 100%;
  }
  .content .products .main-products .item__main .title {
    margin-top: unset;
  }
  .content .products .main-products .item__main .name {
    /* identical to box height */
    color: #868686;
  }
  .content .products .main-products .item__main .price span:nth-child(2) {
    transform: rotate(-10.6deg);
    top: 78%;
    left: -206%;
  }
  .content .products .main-products .item__img {
    flex: unset;
    position: relative;
    text-align: center;
    width: 100%;
    height: 200px;
  }
  .content .products .main-products .item__img img {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .content .banner-middle .banner-middle__main {
    display: flex;
    height: auto;
    padding-top: 10px;
    flex-wrap: wrap;
    text-align: center;
  }
  .content .banner-middle .banner-middle__main .banner-middle__img {
    height: 100%;
    position: relative;
    width: 50%;
  }
  .content .banner-middle .banner-middle__main .banner-middle__img .big_img {
    text-align: center;
  }
  .content .banner-middle .banner-middle__main .banner-middle__img .big_img img {
    position: unset;
    width: 64%;
    transform: translateX(-8%);
  }
  .content .banner-middle .banner-middle__main .banner-middle__img .small_img {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .content .banner-middle .banner-middle__main .banner__content {
    width: 485px;
    margin-left: 12px;
  }
  .content .banner-middle .banner-middle__main .banner__content .description {
    margin-top: 10px;
    font-size: 22px;
    line-height: 24px;
    text-transform: capitalize;
    color: white;
  }
  .content .banner-middle .banner-middle__main .banner__content .store {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
  }
  .content .banner-middle .banner-middle__main .banner__content .store .chplay-img {
    width: 135px;
    height: 40px;
  }
  .content .banner-middle .banner-middle__main .banner__content .store .chplay-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content .banner-middle .banner-middle__main .banner__content .store .app-store-img {
    width: 135px;
    height: 40px;
    margin-left: unset;
  }
  .content .banner-middle .banner-middle__main .banner__content .store .app-store-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content .real-stories {
    height: auto;
    width: 100%;
    background-size: cover;
    gap: 20px;
    padding: 30px 0px 20px 0px;
    text-align: center;
  }
  .content .real-stories .real-stories__main {
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .content .real-stories .real-stories__main .item {
    display: flex;
    justify-content: center;
  }
  .content .real-stories .real-stories__main .item:nth-child(2) {
    align-self: unset;
  }
  .content .real-stories .real-stories__main .real-stories__title {
    width: 100%;
    font-size: 23px;
    line-height: 44px;
  }
  .content .real-stories .real-stories__main .real-stories__title span {
    color: #18191F;
    display: block;
  }
  .content .real-stories .real-stories__main .real-stories__title span:nth-child(1) {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
  }
  .content .real-stories .real-stories__main .real-stories__title span:nth-child(2) {
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .content .real-stories .real-stories__main .box {
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    background-color: white;
    padding: 12px;
  }
  .content .real-stories .real-stories__main .box .box__title {
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    position: relative;
  }
  .content .real-stories .real-stories__main .box .box__title::after {
    position: absolute;
    content: "''";
    font-size: 35px;
    color: #2EC5CE;
    top: 0;
    left: 1px;
  }
  .content .real-stories .real-stories__main .box .box__author {
    margin-top: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
  .content .real-stories .real-stories__main .box .box__email {
    font-weight: 500;
    font-size: 6px;
    line-height: 24px;
    color: #969BAB;
  }
  .content .real-stories .real-stories__main .box-1 {
    width: 80%;
  }
  .content .real-stories .real-stories__main .box-2 {
    width: 80%;
  }
  .content .real-stories .real-stories__main .box-3 {
    width: 80%;
  }
}/*# sourceMappingURL=header.css.map */