*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

html{
	font-size: 16px;
}

.container{
	background-color: #0d3138;
}

.header .row{
	align-items: center;
	position: relative;
}

.header{width: 80%;
margin: 0 auto;
padding: 40px 0;
}
.header__nav ul{
	list-style: none;
	display: flex;
	justify-content: flex-start;

}
.header__nav--logo{
	position: absolute;
	transform: translateX(-120%);

}
.header__nav--logo img{
	width: 30px;

}

.header__nav ul li{
	margin-right: 30px;
	color: rgba(255,255,255,0.5);
	font-size: 20px;

}

.header__btn {


	text-align: right;

}
.header__btn button{
    padding: 8px 15px;
	  color: white;
	  background-color: #0d3138;
	  border-radius: 20px;
       border:2px solid orange;
}


.content-container{
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;


}
.content-img {
	text-align: center;
}

.content-img img{
	width: 90%;


}

.content__title{
	color: white;
	line-height: 36px;

}
.content__desc{
	color: rgba(255,255,255,0.5);
	font-size: 14px;
}

.content__learmore{
	color: blue;
	font-weight: 600;


}
.content__learmore a{
	text-decoration: none;
}


.content > *{
	padding: 20px 0;
} 


